/*
	Theme Name: Vanilla
	Theme URI: http://everettwilliams.com/vanilla;
	Description: Vanilla Theme Wordpress
	Version: 1.0
	Author: Everett Williams (@brainmcknight)
	Author URI: http://everettwilliams.com
	Tags: Blank, HTML5, CSS3, LESS, REQUIREJS

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

@import "css/variables";
@import "css/mixins";

@import "css/normalize.less/normalize";
@import "css/wordpress-classes";
@import "css/base";
@import "css/typography";
@import "css/layout";

@import "css/print";



/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
